---
layout: default
title: "Phlow Magazin Feature"
teaser: "In unseren Features beschäftigen wir uns rund um die Themen <a href='http://magazin.phlow.de/text/'>Journalismus</a>, <a href='http://magazin.phlow.de/webdesign/'></a>Webdesign und <a href='http://magazin.phlow.de/social-media/'></a>Social Media. Die Interviews und Essays forschen wir nach frischen Ideen, Trends und spannenden Geschichten."
header:
    image_fullwidth: header_feature.jpg
    caption: "Foto von Morgan Sessions"
    caption_url: "http://www.morgansessions.com/"
format: blog-index
# Don't index these pages dear Google.
noindex: true
special: /feature/
permalink: /feature/
breadcrumb: true
---
<div class="row t30">
	<div class="medium-8 columns{% if page.sidebar == NULL %} medium-offset-2 end{% endif %}{% if page.sidebar == "left" %} medium-push-4{% endif %}">
		<article>
			<header>
				<span>
					{% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
					<h1>{{ page.title }}</h1>
				</span>
			</header>


			{% if page.teaser %}
			<p class="teaser b60">
				{{ page.teaser }}
			</p>
			{% endif %}

			{% include pagination.html %}
		</article>
	</div><!-- /.medium-8.columns -->


	{% if page.sidebar == "left" %}
	<div class="medium-4 columns medium-pull-8">
		{% include sidebar.html %}
	</div><!-- /.medium-4.columns -->
	{% endif %}


	{% if page.sidebar == "right" %}
	<div class="medium-4 columns">
		{% include sidebar.html %}
	</div><!-- /.medium-4.columns -->
	{% endif %}
</div><!-- /.row -->


