---
layout: default
subheadline: Code Beispiele
title: "WordPress"
teaser: "Hilfreiche Code-Snippets für die Programmierung von WordPress-Themes."
header:
    image: code_shutterstock_225068266.png
    background-color: "#900055"
    caption: »Flat design vector concept« von Shutterstock
    caption_url: http://www.shutterstock.com/pic.mhtml?id=225068266&src=id
image:
    thumb: icon/icon-wordpress-128x.png
style: "#masthead-with-background-color { padding: 0; }"
breadcrumb: true
show_meta: false
permalink: /code/wordpress/
---
<div id="blog-index">
  <div class="row">
    <div class="small-12 medium-2 columns t30">
    <img class="t10 show-for-large-up" src="{{ site.urlimg }}{{ page.image.thumb }}" alt="Logo {{ page.title }}" width="128" height="128">
    </div>
    <div class="small-12 medium-8 end columns t30">

      <h1>{{ page.title }}</h1>
      {% if page.teaser %}<p class="teaser">{{ page.teaser }}</p>{% endif %}
    </div>
  </div><!-- /.row -->


  <div class="row">
    <div class="small-12 medium-8 medium-offset-2 end columns t30">

      <dl class="accordion" data-accordion>
        {% assign counter = 1 %}
        {% for post in site.webdesign limit:1000 %}
        {% unless post.published == false %}
        {% if post.tags contains 'wordpress' %}
        <dd class="accordion-navigation">
          <a href="#panel{{ counter }}"><span class="iconfont"></span><strong>{{ post.title }}</strong></a>
          <div id="panel{{ counter }}" class="content">
            {% if post.meta_description %}{{ post.meta_description | strip_html | escape }}{% elsif post.teaser %}{{ post.teaser | strip_html | escape }}{% endif %}
            <a href="{{ site.url }}{{ post.url }}" title="Read {{ post.title escape_once }}"><strong>{{ site.data.language.read_more }}</strong></a><br><br>
          </div>
        </dd>
        {% endif %}
        {% endunless %}
        {% assign counter=counter | plus:1 %}
        {% endfor %}
      </dl>



      <h2>Noch mehr WordPress-Rezepte</h2>

      <ul>
        <li><a href="http://www.wpfunction.me/">Rezepte zusammenklicken</a></li>
        <li><a href="http://wp.smashingmagazine.com/2013/09/26/powerful-wordpress-tips-and-tricks/">Powerful WordPress Tips And Tricks</a></li>
        <li><a href="http://wp.smashingmagazine.com/2011/05/10/new-wordpress-power-tips-for-template-developers-and-consultants/ ">New WordPress Power Tips For Template Developers And Consultants</a></li>
        <li><a href="http://wphacks.com/how-to-prevent-google-from-indexing-your-images/ ">How To: Prevent Google From Indexing Your Images</a></li>
        <li><a href="http://wphacks.com/how-to-insert-ads-only-after-the-first-post/">How To: Insert Ads Only After the First Post</a></li>
        <li><a href="http://www.perun.net/2012/01/07/wordpress-die-ausgabe-des-rss-feeds-anpassen/">WordPress: die Ausgabe des RSS-Feeds anpassen</a></li>
        <li><a href="http://die-netzialisten.de/wordpress/erganzungen-zur-session-mobile_first-wordpress-themes/">Mobile Browser per WordPress-Funktion identifizieren</a></li>
      </ul>


 


    </div><!-- /.small-12.columns -->
  </div><!-- /.row -->
</div>

